Tests: testsuite
Depends: @, @builddeps@, build-essential,
         xvfb, xauth, dbus-x11,
         kdelibs5-plugins
Restrictions: build-needed

Tests: acc
Depends: @,
         dh-acc, exuberant-ctags
